.banner{
    text-align: center;
    width: 100%;
}

.banner img{
    max-width: 80%;
    max-height: 100%;
    width: 60rem;
    height: 20rem;
    padding: 12px;
    background-color: #7FC7D9;
    border-radius: 20px;
}